/** {
	outline: red 1px solid;
}*/

body{
	background-color:black; 
}

.main{
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

/*.ryu{
	outline: red 1px solid;
}*/

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool{
	width: 659px;
	height: 494px;
}

.hadouken-Instructions, .coolPose-Instructions{
	display: none;
	font-size: 50px;
	font-family: comic sans ms;
	color: red;
}

.hadouken-Instructions{
	/*border: 1px solid black;*/
	position: relative;
	top: -450px;
	left: 750px;
	width: 450px;
	height: 100px;
}

.coolPose-Instructions{
	/*border: 1px solid black;*/
	position: relative;
	top: -320px;
	left: 620px;
	width: 465px;
	height: 170px;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool{
	display: none;
}

.ryu-ready{
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still{
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool{
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing{
	background-repeat: no-repeat;
}

.hadouken{
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: -320px;
	left: 520px;
	float: left;
}

.ryu-presentation{
	width: 700px;
	height: 700px;
	position: relative;
	margin: 0 auto;
	margin-top: 4%;
	border: 1px solid red;
	border-radius: 5px;
	text-align: center;
}

.welcome{
	text-align: center;
	color: red;
	font-size: 40px;
	margin: 2%;
}
